// stylelint-disable no-descending-specificity
body {
  background-color: var(--color-primary);
  color: var(--color-text);
  font-family: var(--font-primary);
  margin: auto;
  overflow-x: hidden;
  max-width: 100%;
  background-image: url("images/Milky_Way_Streaky_Bay_(Unsplash).jpg");
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;

  &:focus {
    outline: none;
  }

  h2{
    margin: auto;;
  }

  h3 {
    text-align: center;
    margin: auto;
  }
}

article {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

article,
.page-footer {
  .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
  }
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
  
}


// .container p {
//   max-width: 20ch;
//   margin: 2%;
// }