.profile {
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  border: solid white 3px;
  & > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    @include breakpoint($break-b) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    & li {
      list-style: none;
      margin: 0 15px 0 15px;
      & > span:nth-of-type(1) {
        color: rgb(197, 197, 249);
        font-weight: bold;
      }
    }
    & + a {
      color: white;
      margin: auto;
      text-decoration: none;
      justify-self: end;
      border: solid white 1px;
      padding: 10px;
      background-color: black;
      transition: 1.5s ease;
      &:hover {
        background-color: white;
        border-radius: 30px;
        transition: 1s ease;
        color: black;
      }
    }
  }
  & #profile-title {
    font-size: 15px;
    text-align: center;
  }
}
