#files {
    @include gridPlanetDisplay();
    &::after {
        content: "";
        background-image: url("images/mercury.png");
        width: 118%;
        height: 380px;
        z-index: -1;
        margin: auto;
        @include breakpoint() {
            width: 350px;
        }
    }
}

#files div {
    z-index: 100;
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    & h3 {
        font-size: 50px;
        margin-bottom: 15px;
        text-align: left;
    }
    & a {
        display: grid;
        grid-template-columns: auto;
        margin: 20px ;
        text-decoration: none;
        padding: 15px;
        color: var(--color-light);
        transition: 1s ease;
        z-index: 2;
        width: 0;
        // background-color: white;
        &:hover {
            transition: 1s ease;
            background-color: white;
            color: black;
            padding-right: 400px;
        }
    }
}