#about section:nth-of-type(2) {
  z-index: 100;
  width: 100%;
  @include breakpoint($break-b) {
      width: 50%;
  }
  text-align: center;
  & h2 {
    margin: auto;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
  }

  & ul li {
    list-style-type: none;
    border: solid 2px white;
    padding: 5px;
  }
}
