#about {
   @include gridPlanetDisplay();
    &::before{
        content: "";
        background-image: url("images/mars.png");
        width: 118%;
        height: 396px;
        z-index: -1;
        margin: auto;
        @include breakpoint() {
            width: 400px;
        }
    }
    &::after {
        content: "";
        background-image: url("images/earth.png");
        width: 118%;
        height: 500px;
        z-index: -1;
        margin: auto;
        @include breakpoint() {
          width: 500px;
        }
      }
}

#about section:nth-of-type(1) {
    z-index: 100;
    width: 60%;
    text-align: center;
    & h2 {
        margin: auto;
    }
}